/**
  Styles for the mapping functions
 */
 
#leaflet_map {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: calc($border-radius + 4px);
  box-shadow: 6px 6px 20px rgba(100,100,100,0.3);
  
  &.leaflet-container{
    background-color: map.get($colors, "background");
  }
  
  & .leaflet-control {
    @include frosted-panel();
    font-family: "Inter", sans-serif;
    
    &.info.legend {
      font-family: "JetBrains Mono", monospace;
      font-size: 10px;
      
      & > div:first-child {
        text-align: center;
        
        & strong {
          font-weight: 400;
          font-size: 0.9em;
          text-transform: uppercase;
        }
      }
    }
    
    // Zoom controls
    & a.leaflet-control-zoom-in, & a.leaflet-control-zoom-out {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      background: transparent;
      
      &:not(.leaflet-disabled):hover {
        @include frosted-panel-btn();
      }
    }
    
    // Reference scale
    &.leaflet-control-scale {
      padding: 6px;
      border-radius: 6px;
      
      .leaflet-control-scale-line {
        background: transparent;
        border: 1px solid map.get($colors, "foreground");
        border-top: none;
        font-family: "Inter", sans-serif;
        font-size: 10px;
        color: map.get($colors, "foreground");
      }
    }
    
    // North arrow
    &.leaflet-control-north-arrow {
      width: 36px;
      height: 36px;
    }
    
    // Hide "Leaflet" logo
    &.leaflet-control-attribution {
      display: none;
    }
  }
  
  .leaflet-pane {
    // Tooltip pane
    &.leaflet-tooltip-pane {
      .leaflet-tooltip {
        @include frosted-panel();
        // backdrop filter only works on Chrome at this stage
        // as .leaflet-tooltip-pane is 0x0 position absolute
        // thus adjusting the opacity to compensate
        background-color: rgba(map.get($colors, "background"), 0.9);
        box-shadow: 6px 6px 20px rgba(100,100,100,0.3);
        font-size: 10px;
        padding: 10px;
        
        & h1 {
          font-family: $font-secondary;
          font-size: 14px;
          margin: 0;
        }
        
        & b {
          font-weight: 600;
        }
        
        & i {
          font-style: normal;
          font-family: $font-monospace;
          font-weight: 400;
        }
        
        &:before, &:after {
          content: none;
        }
      }
    }
  }
}

#leaflet_map_panel {
  position: fixed;
  bottom: 6px;
  padding: 20px;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  @include frosted-panel();
  display: flex;
  
  #map_year_combo {
    --plot-width: 550px;
    --plot-height: 80px;
    position: relative;
    width: calc(var(--plot-width) + 20px);
    padding: 0;
    flex-shrink: 0;
    
    #yearly_total_plot {
      position: absolute;
      top: 0;
      left: 10px;
      height: var(--plot-height);
      width: var(--plot-width);
      // height: 80px, set via ui.R
      // width: 550px, set via ui.R
    }
    
    .form-group.shiny-input-container {
      margin-top: 30px;
      
      // knob
      .irs-handle.single {
        @include frosted-panel();
        background-color: rgba(255,255,255,0.9);
        box-shadow: 1px 1px 4px rgba(map.get($colors, "darkgray"), 0.6);
      }
      
      // track
      .irs-line {
        @include frosted-panel();
      }
      
      // min/max indicators
      .irs-max, .irs-min {
        @include frosted-panel();
      }
      
      // track indicator
      .irs-bar.irs-bar--single {
        @include frosted-panel();
        background: linear-gradient(
          90deg, rgba(#FFFFFF, 0.9) 0%,
          map.get($colors, "background-frost") 100%
        );
      }
    }
  }
}