/**
  Styles for the shiny UI
  @author Johnson Zhou zhoujj@student.unimelb.edu.au
 */

$border-radius: 6px;

$colors: (
  "background": #f4f5f3,
  "background-frost": #f4f5f399,
  "foreground": #1a1b19,
  "gray": #e7e5e6,
  "darkgray": #79757d
);

@mixin frosted-panel {
  background-color: map.get($colors, "background-frost");
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: $border-radius;
  border: 0;
  box-shadow: none;
}

@mixin frosted-panel-btn {
  background-color: rgba(255,255,255,0.9);
  backdrop-filter: saturate(180%) brightness(150%) blur(5px);
}

.navbar {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  min-height: auto;
  
  &.navbar-default {
    width: fit-content;
    @include frosted-panel();
    
    .container {
      width: fit-content;
      padding: 6px;
      
      .navbar-brand {
        display: none;
      }
      
      .navbar-header {
        display: none;
      }
      
      .navbar-nav {
        & li {
          & > a {
            padding: 6px 10px;
            border-radius: $border-radius;
          }
        }
        
        & > .active {
          & > a {
            @include frosted-panel-btn()
          }
        }
      }
    }
  }
}

#leaflet_map {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  
  &.leaflet-container{
    background-color: map.get($colors, "background");
  }
  
  & .leaflet-control {
    @include frosted-panel();
    
    & a.leaflet-control-zoom-in {
      @include frosted-panel-btn();
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    
    & a.leaflet-control-zoom-out {
      @include frosted-panel-btn();
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

#leaflet_map_panel {
  position: fixed;
  bottom: 6px;
  margin: 0;
  width: 600px;
  max-width: 90%;
  left: 50%;
  transform: translateX(-50%);
  @include frosted-panel();
}