/**
  Styles for the shiny UI
  @author Johnson Zhou zhoujj@student.unimelb.edu.au
 */

$border-radius: 6px;
$global-padding-y: 20px;
$global-padding-x: 20px;

$colors: (
  "background": #f4f5f3,
  "background-frost": #f4f5f399,
  "foreground": #1a1b19,
  "gray": #e7e5e6,
  "darkgray": #79757d
);

@mixin frosted-panel {
  background-color: map.get($colors, "background-frost");
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: calc($border-radius + 4px);
  border: 0;
  box-shadow: none;
}

@mixin frosted-panel-btn {
  background-color: rgba(255,255,255,0.9);
  backdrop-filter: saturate(180%) brightness(150%) blur(5px);
}

@mixin pill-btn {
  font-family: "Inter";
  font-weight: 500;
  height: 28px;
  padding: 3px 12px;
  border-radius: 24px;
  border-color: map.get($colors, "gray");
  background-color: transparent;
  color: map.get($colors, "foreground");
  transition: 0.2s ease;
  
  &:hover {
    background-color: map.get($colors, "gray")
  }
}

// Hide the display bar
// @deprecate
.navbar {
  display: none;
  // position: absolute;
  // top: 6px;
  // left: 50%;
  // transform: translateX(-50%);
  // margin: 0;
  // min-height: auto;
  
  // &.navbar-default {
  //   width: fit-content;
  //   @include frosted-panel();
    
  //   .container {
  //     width: fit-content;
  //     padding: 6px;
      
  //     .navbar-brand {
  //       display: none;
  //     }
      
  //     .navbar-header {
  //       display: none;
  //     }
      
  //     .navbar-nav {
  //       & li {
  //         & > a {
  //           padding: 6px 10px;
  //           border-radius: $border-radius;
  //         }
  //       }
        
  //       & > .active {
  //         & > a {
  //           @include frosted-panel-btn()
  //         }
  //       }
  //     }
  //   }
  // }
}


.container {
  .tab-pane {
    // Map pane
    &[data-value="Map"] {
      display: block;
      position: fixed;
      width: calc(100vw - $global-padding-x);
      height: calc(100vh - 100px);
      top: calc(50% + 40px);
      left: 50%;
      transform: translate(-50%, -50%)
    }
    
    // Title pane
    &[data-value="Title"] {
      display: block;
      position: fixed;
      width: calc(100vw - $global-padding-x);
      top: $global-padding-y;
      left: 50%;
      transform: translate(-50%, 0);
      height: 80px;
      text-align: center;
      
      h1 {
        margin: 0;
        font-family: "League Spartan";
        font-weight: 600;
        font-size: 30px;
        text-align: center;
      }
      
      .action-button {
        @include pill-btn();
      }
      
      #title_controls {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        
        > * {
          margin: 0;
        }
        
        .col-sm-3 {
          width: 210px;
          
          .form-group.shiny-input-container {
            margin: 0;
          }
          
          #map_context_selector-label {
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translate(0, -50%);
            font-family: "Inter";
            font-weight: 500;
            color: map.get($colors, "darkgray");
          }
          
          #map_context_selector {
            @include pill-btn();
            padding-left: 70px;
            font-family: "Inter";
            font-weight: 500;
            color: map.get($colors, "foreground");
            
            &:focus {
              box-shadow: none;
            }
          }
        }
      }
    }
    
    // Dimmer pane, for visual effects
    &[data-value="Dimmer"] {
      background-color: rgba(map.get($colors, "darkgray"), 0.3);
      backdrop-filter: saturate(180%) blur(8px);
      opacity: 0;
      content: "";
      display: block;
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: -10;
      transition: 0.2s ease;
      
      &.dim {
        z-index:10;
        opacity: 1;
      }
    }
    
    // Other panes, hidden
    &:not([data-value="Map"]):not([data-value="Title"]):not([data-value="Dimmer"]) {
      @include frosted-panel();
      position: fixed;
      top: 50%;
      left: 50%;
      width: 600px;
      max-height: calc(100vh - 100px);
      transform: translate3d(-50%, 70vh, 0) scale(1.05);
      display: block;
      opacity: 0;
      padding: 30px 15px;
      text-align: center;
      transition: opacity 0.15s ease, transform 0.5s ease-out;
      
      .action-button {
        @include pill-btn();
        @include frosted-panel-btn();
      }
      
      // Other panes, visible
      &.active {
        transform: translate3d(-50%, -50%, 0) scale(1.05);
        opacity: 1;
        z-index: 20;
        transition: opacity 0.3s ease, transform 0.1s ease;
      }
    }
  }
}

.well {
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}
